de.lmu.ifi.dbs.medmon.medic.reporting/KNOWING-INF/resource/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="TestReportData" type="reportType"></xsd:element>
    
    <xsd:complexType name="reportType">
    	<xsd:sequence>
    		<xsd:element name="firstName" type="xsd:string"></xsd:element>
    		<xsd:element name="lastName" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>